@model School_Management_System_Application.ViewModels.CourseFilter

@{
    ViewData["Title"] = "CoursesTeaching";
}

<h1>Details of courses teaching by @ViewBag.Message </h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].educationLevel)
            </th>
            <th>
                Students Enrolled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.educationLevel)
                </td>
                <td>
                    <a asp-controller="Enrollments" asp-action="StudentsEnrolledAtCourse" asp-route-id="@item.courseId" asp-route-teacher="@ViewBag.Message">
                        Check Students Enrolled
                     </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.courseId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.courseId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
