@model School_Management_System_Application.ViewModels.CourseFilter

@{
    ViewData["Title"] = "CoursesTeaching";
}

<h1>Details of courses teaching by @ViewBag.Message </h1>

<form asp-controller="Courses" asp-action="CoursesTeaching" method="get">
    <p>
        Title: <input type="text" asp-for="title" />
        Programme:
        <select asp-for="programme" asp-items="Model.programmes">
            <option value="">All</option>
        </select>
        Semester:
        <select asp-for="semester" asp-items="Model.semesters">
            <option value="">All</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].programme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courses[0].educationLevel)
            </th>
            <th>
                Students Enrolled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.credits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.programme)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.educationLevel)
                </td>
                <td>
                    <a asp-controller="Enrollments" asp-action="StudentsEnrolledAtCourse" asp-route-id="@item.courseId" asp-route-teacher="@ViewBag.Message">
                        Check Students Enrolled
                     </a>
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                     {
                         <a asp-action="Edit" asp-route-id="@item.courseId">Edit</a>
                         @Html.Raw("|");
                     }
                    <a asp-action="Details" asp-route-id="@item.courseId">Details</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                     {
                         @Html.Raw("|");
                          <a asp-action="Delete" asp-route-id="@item.courseId">Delete</a>
                     }
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>