@model School_Management_System_Application.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete course</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.programme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.programme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.educationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.educationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstTeacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstTeacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.secondTeacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.secondTeacherId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="courseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        @*<a asp-action="Index">Back to List</a>*@
        <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
    </form>
</div>
