@model School_Management_System_Application.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.course.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.student.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminalUrl)
        </dt>
        <dd class = "col-sm-10">
            @if(@Model.projectUrl != null)
            {    
                <a href="@Model.projectUrl">Open project link</a>
            }
            else
            {
                <span>No link uploaded</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectUrl)
        </dt>
        <dd class = "col-sm-10">
            @if(@Model.seminalUrl != null)
            {    
                <a href="~/seminals/@Model.seminalUrl">Open seminal file</a>
            }
            else
            {
                <span>No file uploaded</span>
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.examPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.examPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seminalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seminalPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.additionalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.additionalPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.finishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.finishDate)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.enrollmentId">Edit</a>
        @Html.Raw("|");
    }
    @*<a asp-action="Index">Back to List</a>*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
</div>
