@model School_Management_System_Application.Models.Teacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details of teacher</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.academicRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.academicRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.officeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.officeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.teacherId">Edit</a> |
    @*<a asp-action="Index">Back to List</a>*@
    <a href="javascript:void(0);" onclick="history.go(-1);">Go back</a>
</div>
