@model School_Management_System_Application.ViewModels.EditPictureTeacher

@{
    ViewData["Title"] = "Details";
}

<h1>Details of teacher</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Profile picture:
        </dt>
        <dd class = "col-sm-10">
            <img src="~/profilePictures/@Model.teacher.profilePicture"
                class="rounded-circle"
                height="40" width="40"
                asp-append-version="true" />
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.firstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.firstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.lastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.lastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.academicRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.academicRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.officeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.officeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.hireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacher.hireDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditPicture" asp-route-id="@Model?.teacher.teacherId">Edit picture</a> |
    <a asp-action="Edit" asp-route-id="@Model?.teacher.teacherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
